*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.zona{
    max-width: 100%;
    background:#f09e41;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.zona li{
    display: block;
}
.zona a{
    color: black;
    text-decoration: none;
}
.zona a.hover{
    text-decoration: underline;
    background-color: white;
}
.zona:hover{
    color: white;
    transition: 0.5s all;
}
.item{
    font-family: 'Oswald', sans-serif;
    width: 150px;
    height: 25px;
    text-align: center;
    list-style: none;
    float:left;
    display: block;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 10px;
}
.camion{
        padding-top: 25px;
    margin: 20px;
    width: 150px;
    align-items: center;
}
.titulo{
    color: white;
    background-color: grey;
}
h2{
    margin-left:250px ;
    margin-bottom: 10px;
    height: 75px;
    padding: 10px;
    text-align: center;
    font-size: 50px;  
}
.busqueda{
    margin: 10px;
    width: auto;
    position: relative;
    float: right;
}
.boton{
    display: inline-block;
    width:50px;
    text-decoration: none;
    border: 1px solid black;
    border-radius:100px;
}
h3{
    margin:10px;
}
.formulario{
    padding: 30px;
    width: 525px;
    height: 500px;
    background-color: rgb(2,56,103);
    color: rgb(153,153,153);
    margin:auto;
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 25px;
}
.control{
    padding: 10px;
    width: 450px;
    border-radius: 4px;
    border: 1px solid;
}
.register{
    display: inline-block;
    width:50px;
    text-decoration: none;
    border: 1px solid black;
    border-radius:100px;
}
h4{
    margin: 10px;
}
.redes-sociales{
    background-color: grey;
    padding:30px;
    position: relative;
    margin-top: 250px;
}
.redes-sociales li.redes{
    width: 100px;
    list-style: none;
    float: left; 
    
}